
<!--

src / app
        -- layout
            -- page.component
            -- header.component
            -- section.component
            -- footer.component
        -- views
            -- dashboard.component
        -- components
            -- balance-total.component
            -- income-list.component
                -- total-income.component
                -- add-income.component
                -- income-item.component
            -- expenditure-list.component
                -- total-exp.component
                -- add-exp.component
                -- exp-item.component


-->
<router-outlet></router-outlet>
