<div class="w-full">
  <ul>
    <li *ngFor="let expenditure of expenditures.reverse(); let i = index"
        class="bg-red-200 text-red-900 text-xl mb-2 flex flex-row flex-nowrap justify-between p-2 rounded-md">
      <div class="flex flex-row flex-nowrap w-4/5 justify-between">
        <div>{{expenditure.name}}</div>
        <div class="mr-4">€ {{expenditure.amount}}</div>
      </div>

      <div  class="flex flex-row flex-nowrap w-1/5 justify-around">
        <div>
          <input hidden type="string" id="expenditureId" #expenditureId [ngModel]="i">
          <button (click)="editExpenditure()">
<!--
            1.

-->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
            </svg>
          </button>

        </div>
        <div>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
            </svg>
          </button>

        </div>
      </div>

    </li>
  </ul>
</div>
